.login-layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    .right-column {
        //grid-column: end;
    }

    .left-column {
        
    }
}

.auth-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}