.member-image {
    height: 700px;
    width: 500px;
    border-radius: 10px;
    margin: 10px 30px;
}

.members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.member-info {
    padding: 30px;
    justify-content: center;
}
