.members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.member-image {
    height: 700px;
    width: 500px;
    border-radius: 20px;
    margin: 30px 0;
}

.member {
    margin: 0 40px;
    align-items: center;
}

.description {
    overflow-wrap: break-word;
    width: 500px;
}


